* {
  box-sizing: border-box;
}

body {
  font-size: 100%;
  position: relative;
  /* overflow: hidden; */
}

.container {
  display: grid;
  margin: 2rem 4rem;
  grid-template-rows: 100% 20%;
  justify-items: center;
}

.images {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
}

.slide__first {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
}

.slide__second {
  grid-area: 1 / 1 / 2;
}

img {
  width: 100%;
  max-width: 600px;
}

.slide__first {
}

.slide__second {
}

.slide__third {
}

.controls {
  align-self: top;
}

.controls__left,
.controls__right {
  font-weight: 900;
  font-size: 2rem;
  margin: 1rem 0 0 0;
  padding: 0 1rem;
}

.controls__left:after {
  content: '<';
}

.controls__right:after {
  display: block;
  content: '>';
}
